@import url("https://fonts.googleapis.com/css2?family=Combo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(241, 235, 235, 0.352);
}

nav {
  width: 100%;
  height: 5rem;
  background-color: rgba(240, 255, 255, 0.936);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -1px 4px 5px 3px rgba(147, 147, 147, 0.06);
}
nav img {
  width: 60px;
  margin-right: 0.8em;
}
nav h1 {
  font-family: "Combo", cursive;
}

section {
  width: 100%;
  height: calc(100vh - 5rem);
  display: flex;
  align-items: center;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* Hide scrollbar for IE, Edge and Firefox */
}
section .side__info-bar {
  width: 15rem;
  height: 80vh;
  background-color: rgba(240, 255, 255, 0.936);
  border-radius: 10px;
  box-shadow: 1px 1px 4px 0px rgba(23, 24, 24, 0.06);
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 1.2em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}
section .side__info-bar i {
  color: black;
  font-size: 1em;
}
section .side__info-bar p {
  margin: 2em 0 0 1em;
  font-size: 0.9em;
}
section .side__info-bar .add__new__book {
  width: 90%;
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}
section .side__info-bar .add__new__book span {
  font-size: 4rem;
  transition: 0.4s ease;
  cursor: pointer;
}
section .side__info-bar .add__new__book span:hover {
  color: brown;
}
section .side__info-bar .my-gthb {
  width: 100%;
  position: absolute;
  bottom: 15px;
}
section .side__info-bar .my-gthb h2 {
  font-size: 0.7rem;
  text-align: center;
  padding: 10px;
}
section .side__info-bar .my-gthb a {
  color: black;
  transition: 0.4s ease;
}
section .side__info-bar .my-gthb a:hover {
  color: brown;
}
section .books__modules::-webkit-scrollbar {
  display: none;
}
section .books__modules {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
section .books__modules {
  width: 60rem;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}
section .books__modules > div {
  width: 18em;
  height: 22rem;
  background-color: rgba(240, 255, 255, 0.936);
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 0px rgba(23, 24, 24, 0.33);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
section .books__modules > div :nth-child(4):hover {
  background-color: rgb(85, 228, 118);
  transition: 0.3s ease-in-out;
  color: aliceblue;
}
section .books__modules > div :nth-child(5):hover {
  background-color: rgb(238, 82, 142);
  transition: 0.3s ease-in-out;
  color: aliceblue;
}
section .books__modules > div h2 {
  margin-left: 1.4rem;
  font-size: 1.2rem;
  padding: 10px;
}
section .books__modules > div > div {
  width: 90%;
  height: 2.5rem;
  background-color: antiquewhite;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
}
section .books__modules > div > div button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  font-weight: 700;
  cursor: pointer;
}

.overlay {
  width: 100%;
  height: 100vh;
  background: black;
  position: absolute;
  top: 0;
  opacity: 0.5;
  display: none;
}

.add__moudle_box {
  width: 25rem;
  height: 80vh;
  background: rgb(217, 229, 229);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  display: none;
}
.add__moudle_box h2 {
  font-size: 1.9rem;
  text-align: center;
  font-family: "Combo", cursive;
  padding: 40px;
}
.add__moudle_box span {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
  margin: 0.8rem;
  cursor: pointer;
}
.add__moudle_box input {
  width: 85%;
  height: 2.8rem;
  border: none;
  margin: 1rem auto;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 1px 3px 1px rgba(142, 143, 143, 0.362);
}
.add__moudle_box .if__read {
  width: 85%;
  height: 3rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add__moudle_box .if__read p {
  font-size: 0.8rem;
}
.add__moudle_box .if__read > input {
  box-shadow: none;
  width: 1.2rem;
  margin: 0.2rem;
}
.add__moudle_box .btn_modl__wrapper {
  width: 6rem;
  height: 2.4rem;
  border-radius: 5px;
  margin: 1rem auto;
  background-color: antiquewhite;
  display: flex;
}
.add__moudle_box .btn_modl__wrapper form {
  width: 100%;
  height: 100%;
}
.add__moudle_box .btn_modl__wrapper button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgb(233, 67, 67);
  color: azure;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.4s ease-in;
}
.add__moudle_box .btn_modl__wrapper button:hover {
  border: 2px solid rgb(233, 67, 67);
  color: rgb(233, 67, 67);
  background-color: azure;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.active {
  display: flex;
}/*# sourceMappingURL=style.css.map */